header {
    display: flex;
    flex-direction: row;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #6E3E12 0%, #9A581C 100%);
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}