.valeurs-creperiz {
    max-width: 1000px;
    margin: 60px auto;
    padding: 20px;
}

.titre-valeurs {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

.titre-valeurs h1{
    font-size: 100px;
}

.valeur-bloc {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.valeur-bloc.reverse {
    flex-direction: row-reverse;
}

.valeur-bloc img {
    width: 40%;
    max-width: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.valeur-bloc p {
    line-height: 1.7;
}

.valeur-bloc h3 {
    margin-top: 0;
    color: #4e342e;
}

/* Responsive mobile */
@media (max-width: 768px) {
    .valeur-bloc,
    .valeur-bloc.reverse {
        flex-direction: column;
    }

    .valeur-bloc img {
        width: 100%;
    }
}

.video-presentation {
    max-width: 1000px;
    margin: 4rem auto;
    text-align: center;
    padding: 0 1rem;
}

.video-presentation h2 {
    margin-bottom: 1.5rem;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
