section.presentation {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.presentation h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

.presentation>div {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.presentation div div {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.presentation img {
    border-radius: 10px;
}